/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.rating-box {
  position: relative;
  background: #181818;
  padding: 15px 15px 40px 15px;
  border-radius: 15px;
  margin: 7px 7px 0px 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.experience_question{
    font-family: 'Nunito', sans-serif;
  font-size: 22px;
  color: #fed118;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
  margin-bottom: 50px;
}
.rating-box .stars {
  display: flex;
  align-items: center;
  gap: 25px;
  display: flex;
  justify-content: center;
}
.star_icon {
  color: #e6e6e6;
  font-size: 35px;
  cursor: pointer;
  transition: color 0.8s ease;
}
.star_icon.active {
  color: #fed118;
}
#review_txt{
  border-radius: 8px;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  margin-top: 50px;
  font-family: 'Nunito', sans-serif;
  resize: none;
}
textarea:focus{
    outline: none;
}
.txtarea{
    display: flex;
    justify-content: center;
}